@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

html{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    text-wrap: pretty;
    cursor: url('svgs/lovecursor.svg') 0 0, auto;
}
p, ol {
    color: #6b7280;
    text-align: left;
}

.contacts a img {
    padding: 0px 5px 5px 0px;
    margin: 0px 5px 5px 0px;
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease-in-out;
}

.contacts a:hover img {
    transform: scale(1.15);
}

.email {
    width: 34px;
    height: 34px;
    transition: transform 0.3s ease-in-out;
}

.email:hover{
    transform: scale(1.1);
}

.skillslist {
    list-style: none;
    padding: 0;
}

.skillslist li {
    display: inline-block;
    margin: 5px;
}

.skillslist li div {
    background-color: #6b7280;
    color: #fff;
    border-radius: 5px;
    padding: 6px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.skillslist li div:hover {
    transform: scale(1.1);
    background-color: #000000;
    
}

.books {
    margin: 0px 0px 0px 10px;;
    padding: 0px 0px 0px 10px;
}

.bookslist li {
    padding: 3px;
    margin: 3px;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    transform-origin: left;
}

.bookslist li:hover {
    transform: scale(1.1);
    color: #000000;
}

.floatingbutton {
    font-family: 'Roboto Mono', monospace;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.floatingbutton button {
    font-family: 'Roboto Mono', monospace;
    background-color: #6b7280;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.floatingbutton button:hover {
    background-color: black;
    transform: scale(1.1);
}

.floating-button button.printing {
    transform: scale(1.1);
}

@media print {
    .floatingbutton {
        display: none;
    }
}